.form {
  margin-top: 30px;
}
.insert {
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  width: 200px;
  line-height: 20px;
  padding: 0 5px;
}
.submit {
  padding: 5px;
  margin-left: 10px;
  background-color: bisque;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.submit:hover {
  opacity: 0.8;
}
